* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.logo {
  position: absolute;
  top: -0.8rem;
  right: auto;
  bottom: auto;
  left: -6rem;
}

#icon {
  width: 320px;
  height: 82px;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.navbar {
  background: -webkit-gradient(linear, left top, right top, from(#0082e6), to(#1b9bff));
  background: linear-gradient(to right, #0082e6, #1b9bff);
  width: 100%;
  height: 6rem;
}

.navbar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  bottom: auto;
  left: auto;
  border: 2px solid white;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: transparent;
}

.navbar button svg {
  margin-left: 0.5rem;
}

.alert {
  width: 100%;
  height: 4.8rem;
  background: rgba(255, 0, 0, 0.65);
  color: white;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.alert p {
  margin-left: 2rem;
}

.alert button {
  margin-left: auto;
  margin-right: 1rem;
  color: white;
  font-size: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

footer .footer-container {
  width: 100%;
  height: 30rem;
  background: #0099ff;
  margin-top: -6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-container .wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

footer .footer-container h2 {
  color: white;
  font-size: 3rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

footer .footer-container .credits {
  border-top: 3px solid white;
  padding: 2rem 30rem 0.5rem 0;
  color: white;
  font-size: 1.5rem;
}

footer .footer-container .credits a {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}

footer .footer-container .credits a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

footer .footer-container .credits img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  vertical-align: middle;
}

footer .footer-container .copyright {
  color: white;
  font-size: 1.5rem;
}

footer .footer-container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin: 1.5rem 0;
}

footer .footer-container .socials .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .socials .col a {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 2;
}

footer .footer-container .socials .col a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 626px) {
  footer .footer-container {
    overflow: hidden;
  }
  footer .footer-container .wrapper {
    margin: auto 3rem;
  }
  footer .footer-container .wrapper .credits {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media screen and (max-width: 334px) {
  footer .footer-container .wrapper {
    margin: auto 0.25rem;
  }
}

@media screen and (max-width: 300px) {
  footer .footer-container .credits img {
    display: none;
  }
}

@media screen and (max-width: 270px) {
  footer .footer-container .credits strong a {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 350px) {
  .navbar .logo {
    left: -9rem;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 90% !important;
  }
}

@media screen and (max-width: 425px) {
  main #regex-name,
  main #output-regex {
    font-size: 2rem !important;
  }
}

main {
  width: 70%;
  margin: 3rem auto;
}

main #regex-name,
main #output-regex {
  color: #4a4a4a;
  font-size: 3rem;
  font-family: tahoma;
  border: none;
  border-bottom: 2px solid lightgrey;
  width: 100%;
}

main #regex-name::-webkit-input-placeholder,
main #output-regex::-webkit-input-placeholder {
  color: lightgrey;
}

main #regex-name:-ms-input-placeholder,
main #output-regex:-ms-input-placeholder {
  color: lightgrey;
}

main #regex-name::-ms-input-placeholder,
main #output-regex::-ms-input-placeholder {
  color: lightgrey;
}

main #regex-name::placeholder,
main #output-regex::placeholder {
  color: lightgrey;
}

main #output-regex {
  margin-top: 3rem;
  padding: 0.5rem 1rem;
}

main #form-group {
  margin-top: 3rem;
}

main #form-group .form-element {
  margin-bottom: 1rem;
  border: 2px solid lightgrey;
  border-radius: 0.5rem;
  padding: 1rem;
}

main #form-group .form-element label {
  color: #4a4a4a;
  font-size: 1.5rem;
}

main #form-group .form-element .params {
  margin-left: 1.75rem;
  margin-top: 1.5rem;
}

main #form-group .form-element .remove {
  float: right;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  font-weight: bold;
  background: rgba(255, 0, 0, 0.25);
}

main #form-group select {
  float: right;
  background-color: white;
  font-size: 1.5rem;
  border: 2px solid lightgrey;
  border-radius: 0.5rem;
  padding: 0.1rem 1rem;
  cursor: pointer;
}

main #form-group select:focus-within {
  border-color: #1b9bff;
}

main #form-group #generate-regex {
  color: #0082e6;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 2px solid #0082e6;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #form-group #generate-regex:hover {
  background-color: #0082e6;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #form-group .expand-btn {
  background-color: transparent;
  border: none;
  color: lightgrey;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: transparent;
  font-weight: bold;
  margin-right: 0.5rem;
}

main #form-group input[type="radio"] {
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

main #form-group .character-sets,
main #form-group .groups {
  margin-left: 3rem;
  border: 2px solid lightgrey;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

main #form-group .character-sets div:not(:last-of-type),
main #form-group .groups div:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

main #form-group .custom-characters-field,
main #form-group .custom-groups-field {
  margin-left: 3rem;
  margin-bottom: 1rem;
  border: 2px solid lightgrey;
  border-radius: 0.5rem;
  padding: 1rem;
}

main #form-group .custom-characters-field input,
main #form-group .custom-groups-field input {
  border: none;
  border-bottom: 2px solid lightgrey;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #form-group .custom-characters-field input:focus,
main #form-group .custom-groups-field input:focus {
  border-color: #0082e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #form-group .quantity div:not(last-of-type) {
  margin-bottom: 0.5rem;
}

main #form-group .quantity div:not(last-of-type) input {
  float: right;
  border: none;
  border-bottom: 2px solid lightgrey;
  width: 7rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #form-group .quantity div:not(last-of-type) input:focus {
  border-color: #0082e6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #form-group .flag {
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

main #form-group .flag:not(:first-of-type) {
  margin-left: 8rem;
}

main #form-group .flag-label {
  color: black;
  font-size: 1.5rem;
}

main #form-group .character-or-group-select-menu {
  height: 3.5rem;
  margin-bottom: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

main #form-group .character-or-group-select-menu strong {
  color: #0082e6;
  font-size: 1.5rem;
  margin-right: 1rem;
}

main input[type="checkbox"] {
  cursor: pointer;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */