@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;

    text-decoration: none;

    list-style: none;

    outline: none;
}
html {
    font-size: 62.5%;   // Now, 1rem = 10px
    font-family: sans-serif;
}
