footer {
    .footer-container {
        .wrapper {
            width: fit-content;
            margin: auto;
        }

        width: 100%;
        height: 30rem;

        background: #0099ff;

        margin-top: -6rem;

        @include flex-col;
        @include content-center;
        align-items: flex-start;

        h2 {
            @include text(white, 3rem);
            font-family: 'IBM Plex Sans', sans-serif;
        }

        .credits {
            border-top: 3px solid white;

            padding: 2rem 30rem 0.5rem 0;

            @include text;

            a {
                @include text(white, 2rem);
                font-weight: bold;
                letter-spacing: 0.5px;

                &:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                }

            }

            img {
                height: 3rem;
                width: 3rem;

                border-radius: 50%;

                vertical-align: middle;
            }
        }

        .copyright {
            @include text;

			margin-bottom: 1rem;
        }

        .socials {
            @include flex-row;
            justify-content: space-between;

            width: 40%;

            margin: 1.5rem 0;

            .col {
                @include flex-col;

                a {
                    @include link;
                    line-height: 2;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
