@mixin flex-row {
    display: flex;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
}
@mixin content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pos-absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin border($thickness: $border-thickness, $style: $border-style, $color: $border-color, $radius: $border-radius) {
    border: $thickness $style $color;
    border-radius: $radius;
}

@mixin border-bottom($thickness: $border-thickness, $style: $border-style, $color: $border-color) {
    border: none;
    border-bottom: $thickness $style $color;
}

@mixin link($color: white) {
    color: $color;
    font-size: 1.5rem;

    cursor: pointer;
}

@mixin button($color: white) {
    @include link($color);
    
    padding: 0.5rem 1rem;

    background: transparent;
}

@mixin text($color: white, $font-size: 1.5rem) {
    color: $color;
    font-size: $font-size;
}