@import './icon';

.navbar {
    background: linear-gradient(to right, $theme-color, $primary-color);

    width: 100%;
    height: $navbar-height;

    button {
        @include content-center;

        @include pos-absolute($top: 1.5rem, $right: 1rem);

        background: transparent;
        
        color: white;
        font-size: 1.5rem;
        
        padding: 0.5rem 1rem;
        
        @include border($color: white);

        cursor: pointer;

        svg {
            margin-left: 0.5rem;
        }
    }
}