// Footer
@media screen and (max-width: 626px) {
	footer {
		.footer-container {
			overflow: hidden;

			.wrapper {
				margin: auto 3rem;

				.credits {
					width: max-content;
				}
			}
		}
	}
}

@media screen and (max-width: 334px) {
	footer {
		.footer-container {
			.wrapper {
				margin: auto 0.25rem;
			}
		}
	}
}

@media screen and (max-width: 300px) {
	footer {
		.footer-container {
			.credits {
				img {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 270px) {
	footer {
		.footer-container {
			.credits {
				strong {
					a {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}

// Navbar
@media screen and (max-width: 350px) {
	.navbar {
		.logo {
			left: -9rem;
		}
	}
}

// Main Container
@media screen and (max-width: 500px) {
	main {
		width: 90% !important;
	}
}

// Main Input Fields
@media screen and (max-width: 425px) {
	main {
		#regex-name,
		#output-regex {
			font-size: 2rem !important;
		}
	}
}

// Form Elements
@media screen and (max-width: 400px) {
	#form-group {
		input[type="radio"] {
			margin-left: 0 !important;
		}

		.character-sets,
        .groups,
		.custom-characters-field,
        .custom-groups-field {
			margin-left: 0 !important;
		}
	}
}
