$icon-width: 320px;
$icon-height: 82px;

$navbar-height: 6rem;

$theme-color: #0082e6;
$primary-color: #1b9bff;

$border-thickness: 2px;
$border-style: solid;
$border-color: lightgrey;
$border-radius: 0.5rem;