@import './variables';
@import './generics';
@import './config';
@import './navbar';
@import './alert';
@import './footer';

main {
    width: 70%;
    
    margin: 3rem auto;

    #regex-name,
    #output-regex {
        @include text($black, 3rem);
        font-family: tahoma;

        @include border-bottom;

        width: 100%;

        &::placeholder {
            color: lightgrey;
        }
    }

    #output-regex {
        margin-top: 3rem;
        padding: 0.5rem 1rem;
    }

    #form-group {
        margin-top: 3rem;

        .form-element {
            margin-bottom: 1rem;

            @include border($color: lightgrey);
            padding: 1rem;

            label {
                @include text($black, 1.5rem);
            }

            select {
                float: right;

                background-color: white;
                font-size: 1.5rem;
                
                @include border; 

                padding: 0.1rem 1rem;

                cursor: pointer;

                &:focus-within {
                    border-color: #1b9bff;
                }
            }

            .params {
                margin-left: 1.75rem;
                margin-top: 1.5rem;
            }
        }

        #generate-regex {
            @include button($theme-color);
            
            @include border($color: $theme-color);

            transition: 0.3s;

            &:hover {
                background-color: $theme-color;

                color: white;

                transition: 0.3s;
            }
        }

        .expand-btn {
            background-color: transparent;

            border: none;

            @include button(lightgrey);
            font-weight: bold;

            margin-right: 0.5rem;
        }

        input[type="radio"] {
            margin-bottom: 1rem;
            margin-right: 1rem;

            cursor: pointer;
        }

        .character-sets {
            margin-left: 3rem;

            @include border;

            padding: 1rem;

            margin-bottom: 1rem;

            div:not(:last-of-type) {
                margin-bottom: 0.5rem;
            }
        }

        .custom-characters-field {
            margin-left: 3rem;
            margin-bottom: 1rem;

            @include border;

            padding: 1rem;

            input {
                @include border-bottom;

                font-size: 1.5rem;

                transition: 0.3s;

                &:focus {
                    border-color: $theme-color;

                    transition: 0.3s;
                }
            }
        }

        .quantity {
            div:not(last-of-type) {
                margin-bottom: 0.5rem;

                input {
                    float: right;

                    @include border-bottom;

                    width: 7rem;

                    text-align: center;

                    transition: 0.3s;

                    &:focus {
                        border-color: $theme-color;

                        transition: 0.3s;
                    }
                }
            }
        }

        input[type="checkbox"] {
            cursor: pointer;
        }
    }
}

.hidden {
    display: none;
}